/* MIN-WIDTH MEDIA QUERIES --> */

/* large devices --> */

@media (min-width: 1200px) {}


/* medium devices --> */

@media (min-width: 992px) {}


/* small devices --> */

@media (min-width: 768px) {}


/* <-- MAX-WIDTH MEDIA QUERIES*/

/* <-- medium devices */

@media (max-width: 1199px) {}


/* <-- small devices */

@media (max-width: 991px) {}


/* <-- extra small devices */

@media (max-width: 767px) {
    #cta {
        border: none;
        padding: 10px 0;
    }
    .main-nav {
        background-color: #ecf0f1;
        display: none;
        float: left;
        margin-top: 35px;
        margin-left: 25px;
        padding: 10px;
        width: 100%;
    }
    .main-nav li {
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        font-size: 80%;
        padding: 10px 0;
    }
    .mobile-nav-icon {
        display: inline-block;
        padding: 20px;
    }
    .sticky .main-nav {
        float: left;
        margin-top: 10px;
        margin-left: 25px;
        padding: 10px;
        width: 100%;
    }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:link {
        display: block;
        font-size: 80%;
        padding: 10px 0;
    }
    .sticky .mobile-nav-icon {
        margin-top: 10px;
    }
    .sticky .logo {
        float: left;
        height: 80px;
        margin: 10px 10px;
        width: auto;
    }
    .home-image embed {
        float: none;
        height: 100%;
        width: 80%;
    }
    .bio {
        float: none;
        width: 100%;
    }
    .bio p {
        text-align: center;
    }
    .ryt-icon {
        width: 20%;
    }
    .ryt {
        margin: auto;
    }
    .about-image {
        float: none;
        margin: auto;
        width: 100%;
    }
    .about-image embed {
        float: none;
        left: 18%;
        margin: auto;
        width: 70%;
    }
    .schedule {
        float: none;
    }
    .schedule img {
        margin: auto;
        margin-top: 15px;
        right: auto;
        top: 0;
        transform: scale(.9);
        width: 100%;
    }
    .descriptions {
        float: none;
        margin: 270px auto;
        padding: 20px;
        width: 100%;
    }
    .descriptions li {
        display: inline-block;
    }
    .descriptions p {
        text-align: center;
    }
    .calendar-image {
        float: none;
        margin: auto;
        width: 100%;
    }
    .calendar-image embed {
        float: none;
        left: 25%;
        margin: auto;
        width: 70%;
    }
    .form-container {
        float: none;
        margin: auto;
        right: auto;
        width: 100%;
    }
    .contact-image {
        bottom: 0;
        float: none;
        margin: auto;
        overflow: hidden;
        width: 100%;
    }
    .contact-image embed {
        float: none;
        left: 25%;
        margin: auto;
        width: 50%;
    }
    #asterisk {
        padding: 0;
        width: 100%;
    }
    #asterisk p {
        text-align: center;
    }
}
