/*MAIN*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

header {
    height: 100vh;
    overflow: hidden;
}

html {
    background-color: #ecf0f1;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

.row {
    margin: 0 auto;
    max-width: 1140px;
}

section {
    padding: 80px 0;
    position: relative;
}


/*TYPE*/

h1 {
    color: #8e44ad;
    font-size: 400%;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0;
    word-spacing: 4px;
}

p {
    color: #ecf0f1;
}


/*MAIN NAVIGATION*/

.icon-nav {
    color: #8e44ad;
    vertical-align: middle;
    display: block;
    font-size: 120%;
    transform: scale(1.0);
    transition: color 0.5s, transform 0.5s;
}

.icon-nav:hover,
.icon-nav:active {
    color: #e74c3c;
    transform: scale(1.2);
    transition: color 0.5s, transform 0.5s;
}

.logo {
    float: left;
    height: 100px;
    margin-top: 20px;
    width: auto;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
    letter-spacing: 2px;
    transform: scale(1.0);
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #8e44ad;
    font-size: 90%;
    font-weight: 600;
    padding: 4px 0;
    text-transform: uppercase;
    transform: scale(1.2);
    transition: color 0.5s, transform 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #e74c3c;
    font-weight: 900;
    transition: color 0.5s;
}


/*MOBILE NAVIGATION*/

.mobile-nav-icon {
    cursor: pointer;
    display: none;
    float: right;
    margin-top: 30px;
}

.mobile-nav-icon i {
    color: #8e44ad;
    font-size: 200%;
}


/*STICKY NAVIGATION*/

.sticky {
    background-color: #ecf0f1;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

.sticky .logo {
    float: left;
    height: 50px;
    margin: 5px 0;
    width: auto;
}

.sticky .icon-nav {
    color: #8e44ad;
    vertical-align: middle;
    display: block;
    font-size: 120%;
    transform: scale(1.0);
    transition: color 0.5s, transform 0.5s;
}

.sticky .icon-nav:hover,
.sticky .icon-nav:active {
    transform: scale(1.2);
    transition: color 0.5s, transform 0.5s;
}

.sticky .main-nav {
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #8e44ad;
    font-size: 90%;
    font-weight: 600;
    padding: 15px 0;
    text-transform: uppercase;
    transform: scale(1.2);
    transition: color 0.5s, transform 0.5s;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    color: #e74c3c;
    font-weight: 900;
    transition: color 0.5s;
}

.sticky .mobile-nav-icon {
    float: right;
    margin: 5px 20px;
    width: auto;
}


/*LOADER*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ecf0f1;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ecf0f1;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ecf0f1;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #8e44ad;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
    display: none;
}


/*HOME PAGE*/

.home-image {
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

.home-image embed {
    bottom: 0;
    left: 50%;
    margin-left: -35%;
    overflow: hidden;
    position: fixed;
    width: 65%;
    z-index: -1;
}


/*ABOUT PAGE*/

#about {
    background-color: #8e44ad;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

.bio {
    float: right;
    font-size: 100%;
    font-size: 90%;
    font-weight: 900;
    line-height: 1.5;
    position: relative;
}

.about-image {
    bottom: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.about-image embed {
    bottom: 0;
    float: left;
    margin-left: 1%;
    overflow: hidden;
    position: absolute;
    width: 50%;
}


/*CALENDAR PAGE */

#calendar {
    background-color: #ecf0f1;
    height: 100vh;
    overflow: hidden;
    padding: 0 0;
    width: 100%;
}

.calendar-image {
    bottom: 0;
    display: block;
    overflow: hidden;
    width: 100%;
}

.calendar-image embed {
    bottom: 0;
    float: left;
    margin-left: 1%;
    overflow: hidden;
    position: absolute;
    width: 50%;
}

.schedule {
    float: right;
    margin: 0;
    padding: 0;
    right: 0;
    width: 100%;
}

.schedule img {
    margin: 0;
    padding: 0;
    position: absolute;
    right: -6%;
    transform: scale(.75);
    top: -6%;
    width: 70%;
}

.descriptions {
    float: right;
    padding-right: 40px;
    margin-top: 600px;
    width: 55%;
}

.descriptions li {
    display: inline;
}

.descriptions p {
    color: #8e44ad;
    font-size: 60%;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
}


/*CONTACT PAGE*/

#contact {
    background-color: #8e44ad;
    height: 100vh;
    padding: 0 0;
    width: 100%;
}

.contact-image {
    bottom: 0;
    display: block;
    overflow: hidden;
    width: 100%;
}

.contact-image embed {
    bottom: 0;
    float: left;
    margin-left: 1%;
    overflow: hidden;
    position: absolute;
    width: 50%;
}


/* CONTACT FORM */

.form-container {
    float: right;
    max-width: 500px;
    position: relative;
    right: 10%;
    width: 100%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
    font: 400 60%/80% "Montserrat", Helvetica, Arial, sans-serif;
}

#contact-form {
    background-color: #8e44ad;
    font-family: 'Montserrat', sans-serif;
    margin: 150px 0;
    padding: 25px;
}

#contact-form h3 {
    display: block;
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact-form h4 {
    display: block;
    font-size: 65%;
    font-weight: 400;
    margin: 5px 0 15px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
    background: #FFF;
    border: 1px solid #ccc;
    margin: 0 0 5px;
    padding: 10px;
    width: 100%;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
    -moz-transition: border-color 0.3s ease-in-out;
    -webkit-transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
    transition: border-color 0.3s ease-in-out;
}

#contact-form textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact-form input[type="submit"] {
    background: #8e44ad;
    border: 1px solid #ecf0f1;
    color: #ecf0f1;
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0 0 5px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

#contact-form input[type="submit"]:hover {
    background: #ecf0f1;
    border: none;
    color: #8e44ad;
    cursor: pointer;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact-form input[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}
#asterisk {
    padding: 0 10px;
    width: 70%;
}
#asterisk p {
    font-size: 120%;
}


/*FOOTER PAGE*/

.address {
    text-align: center;
}

.address a {
    color: darkslategray;
    font-weight: 100;
    font-size: 140%;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.address a:hover {
    color: darkcyan;
}

footer {
    background-color: #ecf0f1;
    padding: 40px;
    width: 100%;
}
